.chatlist::-webkit-scrollbar {
    display: none;
}
.chatlist{
    flex: 1;
    overflow-y: scroll; 
    overflow-x: hidden; 
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.search{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 20px 20px;
}
.searchBar{
    padding-left: 10px;
    flex: 1;
    background-color: rgba(6, 5, 65, 0.384);
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
}
.searchBar:hover{
    background-color: rgba(6, 5, 65, 0.478);
}
.searchBar input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 40%;
    font-size: larger;
    height: 35px;
}
.searchBar img{
    height: 20px;
    width: 20px;
}
.add{
    width: 35px;
    height: 35px;
    background-color: rgba(6, 5, 65, 0.247);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.add:hover{
    background-color: rgba(6, 5, 65, 0.529);
}
.item-2{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid #dddddd35;
}
.item-2 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(6, 28, 151, 0.473);
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name{
    font-weight: 600;
}
.msg-1{
    font-size: 14px;
    font-weight: 400; 
}